<!-- myapp/templates/myapp/index.html -->
{% load static %}
<html>
<head>
	<title>This is a template</title>
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
</head>
<body>
	
	<!-- navbar -->
	<nav class="bg-white shadow-lg">
		<div class="max-w-6xl mx-auto px-4">
			<div class="flex justify-between">
				<!-- logo and menu -->
				<div class="flex space-x-7">
					
					<!-- logo -->
					<div>
						<a href="{% url 'myapp:products' %}" class="flex items-center px-2 py-2">
						<img class="h-8 w-8" src="{% static 'myapp/images/logo-shopping-bag.png' %}" alt="">
						<span class="text-gray-500 text-lg font-semibold">Buy&Sell</span>
						</a>
					</div>
					<!-- logo -->
					<!-- menu -->
					<div class="items-center flex space-x-1">
		                <a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4  border-green-500">Home</a>
		                <a href="{% url 'myapp:add_product' %}" class="py-4 px-2 text-gray-500 font-semibold">Post Ad</a>
		                <a href="{% url 'myapp:products' %}" class="py-4 px-2 text-gray-500 font-semibold">View products</a>
		                {% if user.is_authenticated %}
		                  <a class="py-4 px-20 text-gray-500 font-semibold" href="{% url 'users:logout' %}">Logout</a>
                  		  <a class="py-4 px-40 text-gray-500 font-semibold" href="{% url 'users:profile' %}">Profile</a>
		                {% else %}
		                  <a class="py-4 px-40 text-gray-500 font-semibold" href="{% url 'users:login' %}">Login</a>
		                {% endif %}
		             </div>
					<!-- menu -->
				</div>
				<!-- logo and menu -->
				
			</div>
		</div>
	</nav>
	<!-- navbar -->

	<!-- content -->
	{% block content %}
	{% endblock content %}
	<!-- content -->

</body>
</html>